PORT=500
MONGO_URI=
JWT_SECRET=
GOOGLE_API_KEY=
LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_AGENT_NAME=
INTERNAL_API_KEY=
BACKEND_INTERNAL_URL=http://localhost:5000
MAVIS_ENABLE_LIVE_TRANSCRIPTION=true